.button {
  background-color: #404cfa;
  border: 0;
  border-radius: 25px;
  color: #fff;
  font-size: 14px;
  padding: 12px 24px;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: #343ecc;
  }
}
